.DS_Store
*.gch
*.swp
a.out
*.o
test
.idea
googletest/lib
cmake-build-debug-coverage
cmake-build-debug



CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Makefile
cmake_install.cmake
googletest/CMakeFiles/*
googletest/CTestTestfile.cmake
googletest/Makefile
googletest/cmake_install.cmake
